/* content.css ********************************************* */
.content-main {
  margin-top: 28px;
}
.col-content-main{
  margin-bottom:50px;
}
.col-content-aside{
  margin-bottom:50px;
}
@media (min-width:768px){
  .col-content-main,
  .col-content-aside{
    margin-bottom:10px;
  }
  .page-content-action .column-categories {
    padding-top:46px
  }
}
.content-main h5{
  color: #263238;
}
.column-categories h5,
.column-smart h5{
  margin: 26px 0 4px;
}
.smart-label {
  padding-top: 7px;
  color: #627A84; 
}
.smart-label-result {
    font-weight: bold;
}

li.list-item-smart {
  text-align: center;
  vertical-align: top;
}
.target-date-date {
  color: #53830B;
}
.category-list-aside {
  border-top: 1px solid #dae4e7;
  padding: 5px 0;
}
ul.hrc-category-list {
  padding: 0;
  list-style-type: none;
}
.hrc-category-list > li {
  display: inline-block;
  border-right: 1px solid #0094ab;
  padding: 0 10px 0 0;
  margin: 0 10px 0 0;
}

.hrc-category-list > li:last-child {
  border-right: 0;
}

.recommendation-attributes {
  border-top: 1px solid #dae4e7;
  padding-top: 20px;
}

.recommendation-attributes td.label-cell {
  font-weight: bold;
  padding: 3px 5px 3px 0;
  vertical-align: top;
}
@media (min-width:768px){
  .recommendation-attributes td.label-cell {
    padding: 3px 10px 3px 0;
    width: 180px;
  }
}
.recommendation-attributes td.content-cell {
  vertical-align: top;
  padding: 3px 0;
}
a.smart-information {
    position: absolute;
    top: -3px;
    right: 9px;
}
@media (min-width:768px){
  a.smart-information {
    position: absolute;
    top: 20px;
    right: 20px;
  }
}
