footer.hrc-footer {
  width: 100%;
  min-height: 200px;
  position:absolute;
  top: 100%;
  margin-top: -200px;
  background-color: #0383C9;
  color: #fff;
}

a.icon-hrc-logo-claim:hover, a.icon-hrc-logo-claim:focus {
    opacity: 0.8;
}

.hrc-footer-info {
  background-color: #026B9F;
  padding-bottom: 60px !important;
}

.hrc-footer-item {
  vertical-align: top;
  padding: 30px 26px;
}


.hrc-footer-item a {
  color: #fff;
}


a.builtby {
  color: #EAF0F4;
  position: absolute;
  bottom: 10px;
}


@media (min-width:768px){
  .hrc-footer-item {
    min-height: 200px;
    text-align: left;
  }
  .hrc-footer-brand-logo {
    text-align: right;
  }
}
