footer.hrc-footer {
  background-color: #E7EBED;
}

.hrc-footer-info, .hrc-footer-parentsite {
}


.hrc-footer-info {
  background-color: white;
}

.hrc-footer-item {
  vertical-align: top;
  min-height: 180px;
    padding: 30px 26px 0
}

.hrc-footer-item p {
  font-size: 14px;
  margin: 0
} 
.hrc-footer-item a {
  color: #559EB2;
}


a.builtby {
  color: #C2C0BA;
  position: absolute;
  bottom: 10px;
}

footer h4 {
  text-transform: none;
}
.hrc-footer-brand-logo {
  text-align: right;
}