/* header.css *********************************************  */
.hrc-header {
  background-color: #027DBB;
  position:relative;
  z-index:1; /* make sure shadow is visible on following divs */
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
}

/*navbar*/
.hrc-navbar {
  background-color: #027DBB; /* override bootstrap default */
  margin-bottom: 0px;
  border: 0;
  border-radius: 0;
  border-bottom: 1px solid #026B9F;
}

.header-intro .navbar-collapse {
  z-index: 10;
}
h1.hrc-title{
  font-size: 14px;
  color: #fff;
  margin-bottom: 0;
  margin-top: 0;
  font-weight: bold;  
}
.hrc-subtitle  {
  font-size: 12px;
  color: #fff;
  font-weight:lighter;
}

.container > .navbar-header { /*override bootstrap*/
  min-height: 50px;
  margin-right:0;
  margin-left:0;
}

.navbar-brand {
  padding: 0;
}

.hrc-title-link {
  display: block;
  padding: 10px 0; 
}
.header-brand-title {
  float:left;  
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 40px 0 8px;
  width: 100%;
}

.navbar-brand {
  height: auto;
}

@media (min-width: 768px) {

  .header-brand-title {
    position:relative;
    margin: 0;
    width:auto;    
    padding: 30px 15px 20px;
  }
  .hrc-title-link {    
    padding: 5px 0; 
  }
  h1.hrc-title{  
    font-size: 24px;
    margin-bottom: 6px;
  }
  .hrc-subtitle {
    font-size: 20px;
  }
  
  .intro-content {
    padding: inherit;
  }
}
@media (min-width:992px) {  
  h1.hrc-title {
    font-size: 28px;  
  }
  .hrc-subtitle  {
    font-size: 24px;
  }  
}



