/* header.css *********************************************  */
.hrc-header {
  background-color: #029BE5;
}

/*navbar*/
.hrc-navbar {
  background-color: #029BE5; /* override bootstrap default */
  margin-bottom: 0px;
  border: 0;
  border-radius: 0;
  border-bottom: 1px solid #0383C9;
}

.header-intro .navbar-header {
  float: none;
}

.header-intro .header-brand-title {
  padding: 0px 10px;
  text-align: left;
}
.header-intro .navbar-collapse {
  z-index: 10;
}
.header-intro .nav-primary {
  display: none;
}
h1.hrc-title,
.hrc-subtitle  {
  font-size: 14px;
}
.hrc-title-link h1.hrc-title {
  color: #fff;
  margin-bottom: 0px;
  margin-top: 0;
  font-weight: normal;
}
.hrc-title-link .hrc-subtitle {
  color: #fff;
  font-weight:lighter;
}

/*@media (max-width:768px){
  h1.hrc-title,
  .hrc-subtitle  {
    font-size: 20px;
  }
  .header-intro .header-brand-title,
  .header-intro .navbar-toggle{
    padding: 0px 10px;
    padding: 40px 0 0 0;
  }

  .intro-content {
    padding: 40px 0;
  }

}*/
.navbar-header {
    min-height: 50px;
}

.navbar-brand {
  padding: 0;
}

.hrc-title-link {
  display: block;
  padding: 10px 0; 
}
.header-brand-title {
  float:left;  
  position: absolute;
  top: 0;
  left: 0;
  padding: 0px 50px 0 12px;
  width: 100%;
}

.navbar-brand {
  height: auto;
}

@media (min-width: 768px) {

  .header-brand-title {
    position:relative;
    margin: 0;
    width:auto;    
    padding: 36px 15px;
  }
  .hrc-title-link {    
    padding: 5px 0; 
  }
  h1.hrc-title,
  .hrc-subtitle {
    font-size: 24px;
    display:block;    
  }
  

  .intro-content {
    padding: inherit;
  }

  .header-intro .header-brand-title,
  .header-intro .navbar-toggle{
    padding: 80px 0 0 0;
    text-align: center;
    float:none;
    height: auto;
  }
  
  .header-intro h1.hrc-title {
    font-size: 32px;
    margin-bottom: 16px;
  }
  .header-intro .hrc-subtitle  {
    font-size: 32px;
  }  



}

@media (min-width:992px) {
  .header-intro .hrc-title-link {
    padding: 0;
  }
}
