.hrc-table{
  margin-top:10px;
  display:table;
  width: 100%;
  margin-bottom: 20px;
  table-layout:auto
}
.hrc-table.explore-table {
  table-layout:fixed
}
.articles-table .hrc-table.hrc-table-nested {
    margin: -10px -15px;
}
@media (min-width: 420px){
  .hrc-table.hrc-table-nested {
    width:auto
  }
}
@media (max-width: 767px){
  .hrc-table.visible-xs {
    display:table !important
  }
}
.hrc-thead{
  display: table-header-group;
  vertical-align: middle;
  border-color: inherit;
}
.hrc-tbody {
  display: table-row-group;
}
/*rows*/
.hrc-tr {
  display: table-row;
}
.hrc-table-link-row{
    color: #2c2c2c;
    cursor: pointer;
}

.hrc-table-link-row:hover {
  opacity:0.8
}

/*cells*/
.hrc-td {
  display:table-cell;  
  text-align: left;
  position: relative;
}
@media (max-width: 767px) {
  .hrc-td.visible-xs {
      display: table-cell !important;
  }
}
.hrc-table.explore-table > thead > tr > th, 
.hrc-table.explore-table > tbody > tr > th, 
.hrc-table.explore-table > tfoot > tr > th, 
.hrc-table.explore-table > thead > tr > td, 
.hrc-table.explore-table > tbody > tr > td, 
.hrc-table.explore-table > tfoot > tr > td {
  vertical-align: middle;
}
.hrc-table > .hrc-thead > .hrc-tr > .hrc-td, 
.hrc-table > .hrc-tbody > .hrc-tr > .hrc-td{
  vertical-align: middle;
  padding: 8px 5px;
}
.hrc-table > .hrc-tbody > .hrc-tr > .hrc-td {
  border-bottom: 1px solid #dae4e7;
  padding: 12px 5px 5px;
}
.hrc-table.terms-table > .hrc-tbody > .hrc-tr > .hrc-td {
  padding: 15px 8px 14px;
}
.hrc-table > .hrc-thead > .hrc-tr:first-child > .hrc-td {
  border-top: 0;
  border-bottom: 1px solid #dae4e7;
  border-left: 1px solid #dae4e7;
}
.hrc-table > .hrc-thead > .hrc-tr:first-child > .hrc-td.header-cell-key-links, 
.hrc-table > .hrc-thead > .hrc-tr:first-child > .hrc-td.header-cell-links, 
.hrc-table > .hrc-thead > .hrc-tr:first-child > .hrc-td.header-cell-spacer-bar, 
.hrc-table > .hrc-thead > .hrc-tr:first-child > .hrc-td:first-child,  
.hrc-table.articles-table > .hrc-thead > .hrc-tr:first-child > .hrc-td:last-child { 
  border-left: 0;
}
.hrc-table > .hrc-thead > .hrc-tr:first-child > .hrc-td:first-child,
.hrc-table > .hrc-tbody > .hrc-tr > .hrc-td:first-child, 
.hrc-table.terms-table > .hrc-tbody > .hrc-tr > .hrc-td:first-child {
  padding-left: 2px;
}
.articles-table.hrc-table > .hrc-tbody > .hrc-tr >.hrc-td.hrc-cell-no {
    vertical-align: top;
}
@media (min-width:768px){  
  .hrc-table > .hrc-tbody > .hrc-tr > .hrc-td {
    padding: 15px 12px 12px;
  }
  .hrc-table > .hrc-thead > .hrc-tr > .hrc-td, 
  .hrc-table > .hrc-tbody > .hrc-tr > .hrc-td{
    vertical-align: middle;
    padding: 8px 12px;
  }  
  .articles-table.hrc-table > .hrc-tbody > .hrc-tr >.hrc-td.hrc-cell-no {
      vertical-align: middle;
  }  
}




/* header cells ------------------------------------------------------------- */

.hrc-header-cell {
  color: #7696a5;
  font-size: 11px;
}
.hrc-header-cell .hrc-th-title{
  font-weight: bold;
  text-transform: uppercase;    
}
@media (min-width:786px){
  .hrc-header-cell{
    font-size: 12px;
  }
}

/*cell title (explore-table) */

.explore-table .header-cell-text {
    width: 60%;
}

@media (min-width: 768px) {
  .explore-table .header-cell-text {
      width: 30%;
  }  
}
@media (min-width: 992px) {
  .explore-table .header-cell-text {
      width: 41%;
  }  
}

/*cell links */
.header-cell-links{
  width: 40px;
}



/*cell key links*/
.header-cell-key-links{
  width: 50px;
  position: relative;
}

.actions-table .header-cell-key-links {
  width: 30px;
}
.header-cell-key-links .cell-key-wrap {
  position: absolute;
  bottom: 8px;
  left: -40px;
}
.actions-table .header-cell-key-links .cell-key-wrap {
  position: relative;
  left: initial;    
  bottom: initial;
  text-align: center;
}
.recommendations-table .header-cell-key-links .cell-key-wrap {
  left: 12px;
  display: none;
}
@media (min-width:768px){  
  .recommendations-table .header-cell-key-links {
    width: 110px;
  }  
  .recommendations-table .header-cell-key-links .cell-key-wrap {
    display: block;
  } 
}


.cell-key {
  display: table;
  font-weight: normal;  
  font-size: 12px;
  text-transform: none;  
}
.cell-key-item {
  display: table-row
}
.cell-key-item-no,
.cell-key-item-block, 
.cell-key-item-title{
  display: table-cell;
}

.cell-key-item-block {
  width: 8px;
  height: 15px;
  border-bottom: 1px solid white;
  border-top: 1px solid white;
}
.cell-key-item-no {
  font-size: 14px;
  text-align: right;
}
.cell-key-item-title {
  text-align: left; 
  padding-left: 5px;  
}

.explore-table .cell-key {
    position: absolute;
    left: 100%;
    bottom: 8px;
    width: 120px;
    margin-left: -50px;
} 
.recommendations-table .cell-key {
    position: absolute;
    left: 100%;
    bottom: 8px;
    width: 120px;
}
@media (min-width:768px){  
  .recommendations-table .header-cell-links {
    width: 110px;
  }
}

 /*cell icon*/
.header-cell-icon {
    width: 50px;
}
@media (min-width:768px){
  .recommendations-table .header-cell-icon {
      width: 80px;
  }
}
/* body cells --------------------------------------------------------------- */


.hrc-cell .marked-inner-html p {
  margin-bottom: 0;
}



/*cell text*/

@media (min-width:768px){

  .table.hrc-table > tbody > tr > td.hrc-cell.hrc-cell-text {
    padding-right: 40px;
  }
}



.articles-table .hrc-cell-text {
  padding:15px
}
@media (min-width:768px){
  .hrc-table > .hrc-tbody > .hrc-tr > .hrc-td.hrc-cell.hrc-cell-text {
    padding-right: 40px;
  }
}

.explore-table .hrc-td.hrc-cell.hrc-cell-text {
  font-weight: bold;
  font-size: 18px;
  line-height: 1.4;
}


/*cell bar, stacked bar*/
.hrc-cell-bar,
.hrc-cell-stacked-bar {
  padding: 15px 0px 12px;
}

.hrc-cell-bar .bar-value,
.hrc-cell-stacked-bar .bar-value {
  position: absolute;
  left: 0;
  display: block;
  height: 20px;
  top: 0;
}


.hrc-cell-bar .cell-bar-wrap,
.hrc-cell-stacked-bar .cell-bar-wrap {
    display: table;
    width: 100%;
}
.hrc-cell-stacked-bar .cell-stacked-bar-wrap {
    padding-right: 30px;
}
@media (min-width:768px){
  .hrc-cell-bar .cell-bar-wrap {
      padding-right: 30px;
  }
}
.hrc-cell-bar .bar-label,
.hrc-cell-stacked-bar .bar-label {
  display: table-cell;
  width: 30px;
  text-align: right;
  padding: 5px;
  font-weight:bold;
}
.hrc-cell-bar .bar,
.hrc-cell-stacked-bar .bar {
  display: table-cell;  
  padding-right: 30px;
}
.hrc-cell-bar .bar-value,
.hrc-cell-stacked-bar .bar-value {
  position: absolute;
  left: 0;
  display: block;
  height: 20px;
  top: 5px;
}
.hrc-cell-bar .bar-unit,
.hrc-cell-stacked-bar .bar-unit {
  height: 20px;
  display: inline-block;
  top: 5px;
  position: relative;
}
@media (min-width:768px){
  .hrc-cell-bar .bar-unit,
  .hrc-cell-stacked-bar .bar-unit {    
    border-right: 1px solid white;
  }
}

.hrc-cell-bar .bar-label.bar-label-value-total,
.hrc-cell-stacked-bar .bar-label.bar-label-value-total {
    text-align: left;
    display: inline-block;
    position: absolute;
}



/*cell label, no*/

.hrc-cell-label,
.hrc-cell-no {
  font-size: 1.2em;
  font-weight: bold;
  padding: 5px;
  text-align: right;
}

.hrc-cell-no {
  padding-left: 0 !important;
}

.hrc-cell-label {    
  text-align: left;
  vertical-align: top !important;
}
.hrc-cell.hrc-header-cell.header-cell-no,
.hrc-cell.hrc-cell-key-links,
.hrc-cell.hrc-cell-links {
  text-align: right;
}

@media (min-width:768px){
  .hrc-cell.hrc-cell-label,
  .hrc-cell.hrc-cell-no {
    font-size: 1.5em;
    line-height: 1.42857143;
    padding: 10px;
  }
}

/*cell icon*/
.hrc-cell.hrc-cell-icon {
  text-align: center;
}

@media (min-width:420px){
  .hrc-cell.hrc-cell-icon {
    min-width: 60px;
  }
}
/*cell spacer*/

.hrc-cell-spacer-bar,
.header-cell-spacer-bar {
  display:none;
}
@media (min-width:992px){
  .hrc-cell-spacer-bar,
  .header-cell-spacer-bar {
    display:table-cell;
  }
}

