/* icons.css *********************************************  */
/* icon- class is generally used as wrapper class for inline-svg element .isvg
/  but may also be occasionally used to set backgground svg image
*/
[class^="hrc-icons_"], [class*=" hrc-icons_"] {
  display: inline-block;
  background-repeat: no-repeat;
  background-position: top left;
  width: 40px;
  height: 40px;
  vertical-align: middle;
  max-width: 100%;
}

.hrc-icons_hrc-logo            { width: 220px; height: 135px; }

.actions-table .hrc-cell-icon [class^='hrc-icons'] {
  width: 40px;
  height: 40px;
}
 override default styles 
.actions-table .hrc-icons_smart-s #smart-s circle,
.actions-table .hrc-icons_smart-m #smart-m circle,
.actions-table .hrc-icons_smart-a #smart-a circle,
.actions-table .hrc-icons_smart-r #smart-r circle,
.actions-table .hrc-icons_smart-t #smart-t circle {
  fill: #69A41E !important;
}
.actions-table .hrc-icons_smart-s #smart-s *,
.actions-table .hrc-icons_smart-m #smart-m *,
.actions-table .hrc-icons_smart-a #smart-a *,
.actions-table .hrc-icons_smart-r #smart-r *,
.actions-table .hrc-icons_smart-t #smart-t *{
  fill: #fff !important;
}

.hrc-icons_smart-s {}
.hrc-icons_smart-m {}
.hrc-icons_smart-a {}
.hrc-icons_smart-r {}
.hrc-icons_smart-t {}
.hrc-icons_smart-s-fail {}
.hrc-icons_smart-m-fail {}
.hrc-icons_smart-a-fail {}
.hrc-icons_smart-r-fail {}
.hrc-icons_smart-t-fail {}

.hrc-icons_pass {}
.hrc-icons_fail {}

 category icons 
.hrc-icons_cat {
  width: 75%;
  padding: 5px 0 0;
}
@media (min-width: 768px) {  
  .hrc-icons_cat {
    width: 50%;
    padding: 10px 0 0;
  }
  .intro-category-explore .hrc-icons_cat {
    padding: 12px 0 6px;
  }
}
 override default styles 
.active .hrc-icons_cat [id^='cat'] *, 
a:hover .hrc-icons_cat [id^='cat'] * {
  fill: #fff !important;
}

.hrc-icons_cat-issues          { }
.hrc-icons_cat-groups          { }
.hrc-icons_cat-agencies        { }
.hrc-icons_cat-treatybodies    { }

.hrc-icons_filter-open         { width: 30px; height: 30px; }
.hrc-icons_filter-close        { width: 30px; height: 30px; }
.hrc-icons_dropdown-open       { width: 25px; height: 25px; }
.hrc-icons_dropdown-close      { width: 25px; height: 25px; }

.nav-primary .hrc-icons_search {
  width: 16px;
  height: 16px;
}
@media (min-width: 768px) {
  .nav-primary .hrc-icons_search {
    width: 20px;
    height: 20px;
    margin-left: 10px;
  }
}
.nav-primary .hrc-icons_search .isvg #search * {
  stroke: #fff !important;
}

.hrc-icons_dismiss             { width: 25px; height: 25px; }
.hrc-icons_close               { width: 25px; height: 25px; }
.hrc-icons_info                { width: 20px; height: 20px; }
.hrc-icons_download            { width: 25px; height: 25px; }

.hrc-icons_facebook            { width: 18px; height:18px}
.hrc-icons_linkedin            { width: 18px; height:18px }
.hrc-icons_twitter             { width: 18px; height:18px }

.hrc-icons_link-list           { width: 12px; height: 20px; }
.hrc-icons_link-external       { width: 30px; height: 90px; }
/*.icon_content-list        { see main.css }*/

.hrc-icons_arrow-right         { }


@media (min-width: 768px) {
 
}