.intro {
  color:#3C5462;
}


h4.intro-explore {
  margin: 60px 0 20px 0;
  font-weight: normal;
}

.intro .background-blue {
  background-color: #0383C9;
  color: #fff;
  box-shadow: 0px 10px 10px -10px rgba(0, 0, 0, 0.2) inset;
}

.intro .background-light-blue {
  background-color: #EAF0F4;
}

.intro-lead {
  font-size: 16px;
}

.intro-sub-lead {
  font-size: 14px;
}

.intro .nav-primary {
  background: none;
  padding-bottom: 60px;
}

@media (min-width:768px){
  .intro-content {
    margin: 60px 85px 8px
  }
  .intro-content p {
    margin-bottom: 20px;
  }
}

.intro-read-more {
  margin-top: 20px;
}
.stat-large {
  font-weight: bold;
  font-size: 39px;
}
.stat-title {
  font-weight: bold;
}

.intro-stats ul.list-inline li.intro-stat-item {
  font-size: 13px;
  padding: 0px 15px;
  display: table-cell;
  vertical-align: middle;
    width: 28%;
}
.intro-stats ul.list-inline li.intro-stat-divider {
  display: table-cell !important;
  vertical-align: middle;
  width:30px
}
.intro-stats ul.list-inline {
  font-size: 0;
  width: 100%;
  display: table;
}

.intro-stats.row {
  margin-bottom: 60px;
}

.intro-issue-select li.nav-categories-li a.btn {
  padding: 0px;
}

.intro-issue-select li.nav-categories-li span {
  margin: 10px;
}

.intro-issue-select .btn:hover,
.intro-issue-select .btn:focus,
.intro-issue-select .btn:focus:hover {
  background: #69A41E;
  box-shadow: none;
}

.intro-issue-select .title {
  background-color: #69A41E;
  color: #fff;
  padding: 10px 15px;
}

.intro .arrow,
.intro .arrow:after {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}
.intro .arrow {
  border-width: 11px;
}

.intro .arrow {
  left: 50%;
  margin-left: -11px;
  border-top-color: #0383C9;
  border-bottom-width: 0;
}

.intro-explore-all .intro-explore-btn a{
  width: 100%;
}

.intro-explore-text {
  color: #78909C;
}

@media (max-width: 767px) {
  li.nav-categories-li .title {
    min-height: 70px
  }

  .intro-explore-btn a.btn {
    padding: 10px 0;
  }
}
