/*own style overrides*/

html,body,#app { 
  position: relative;
  height: 100%;
  min-width:320px;
}
.container {
  max-width: 970px !important; 
}

body {
  padding: 0px;
  background-color: #fff;
  font-family: Arial, sans-serif;
  color:#2c2c2c
}
.home {
  position: relative;
  min-height: 100%;
  padding-bottom: 212px;
  border-left: 12px solid #363636; 
}
.loading {
  text-align:center;
  margin: 50px 0
}
footer.hrc-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  min-height: 180px;
}
p {
  font-size:15px;
  line-height:1.5;
  margin: 0 0 16px
}
small,
.small,
.small p,
p .small,
p.small {
  font-size:13px;
  line-height:1.5;
}
h1.hrc-title {
  font-family: 'Droid serif', serif;
  color: #fff;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 4px;
  margin-top: 0;
}
@media (min-width: 768px) {
  h1.hrc-title {
    font-size: 20px;
    line-height: 34px;  
  }
}
@media (min-width: 1200px) {
  h1.hrc-title {
    font-size: 26px;
  }
}
.intro h1 {
  font-size: 28px;
  margin-bottom: 25px;
  line-height: 40px;
}
h1 {
  font-size: 34px;
  font-weight: bold;
}
h1.header-title {
  margin-top: 0px;
}

h2 {
  font-size: 30px;
  font-weight: bold;
  color: #7696a5;
  text-transform:uppercase;
  margin-bottom: 30px;
}

h3 {
  font-size: 26px;
  font-weight: bold;
  line-height: 1.3;
}
h3.page-lead-header {
  margin-bottom: 48px;
}
.marked-inner-html h1,
.marked-inner-html h2,
.marked-inner-html h3,
.marked-inner-html h4,
.marked-inner-html h5,
.marked-inner-html h6 {
  font-size: 16px;
  font-weight: bold;  
    margin-top: 30px;
  margin-bottom: 0px;
}
h4 {
  font-size: 16px;
  font-weight: bold;
  color: #7696a5;
  text-transform:uppercase;
}
h4.intro-explore {
  margin-bottom: 20px;
  font-weight: normal;
}
h5 {
  font-size: 15px;
  font-weight: bold;
  text-transform:uppercase;
  color: #7696a5
}
h5.header-type {
  font-size:13px;
  margin-bottom:6px;
  text-transform:uppercase;    
}
h5.tt-none {text-transform:none}

h6 {
  font-size: 12px;
  font-weight: bold;
  text-transform:uppercase;
  color: #7696a5
}

.category-list-aside h6 {
  text-transform: none;
  color: #2c2c2c;
  margin-bottom: 5px;
}
.serif {
  font-family: 'Droid serif', serif;
  text-transform: none;
}

.emphasis {
  color: black;
}

button,a {
  -webkit-transition: background-color 0.1s ease, color 0.1s ease;
  -moz-transition: background-color 0.1s ease, color 0.1s ease;
  -o-transition: background-color 0.1s ease, color 0.1s ease;
  transition: background-color 0.1s ease, color 0.1s ease;
}

a{
  color: #0094ab;
}
a.btn:focus,
a.btn {
  background-color: #ecebe6;
  color: #0094ab;
}
p a {
  font-weight:bold; 
}
p a em {
  font-style: normal;
}
a:hover,
a.btn:hover,
a.btn:focus:hover
{
  color: #008399;
  text-decoration:none
}
a:focus{
  text-decoration:none;
  color: #008399;
}
a:focus {
  outline: 0;
}
.btn.active {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.btn:focus, input:focus {
  outline: none !important
}

.btn:active, .btn.active {
  outline: 0;
  background-image: none; 
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}




.container {
  position:relative
}


.page-content {
  padding-top:30px;
}

.page-section {
  margin-top: 50px;
  margin-bottom: 40px;
}

.show-more {
  margin-top: -12px;
}

.marked-inner-html.custom-list-icon ul {
  margin:0; padding:0;
  text-align: left;
  margin-bottom: 30px;
}
.marked-inner-html.custom-list-icon ul li {
  list-style-type: none;
  padding-top: 5px;
  padding-left: 0;
  margin-bottom: 6px;
  position: relative;
}

.marked-inner-html.custom-list-icon ul li:before {
  position: relative;
  margin: 2px 8px 0 0px;
  height: 15px;
  background: url('./img/NPA-sprite.png') no-repeat 0px -700px;
  width: 17px;
  content: "";
  vertical-align: middle;
  float: left;
}

.marked-inner-html ul {
  margin:0; padding:0;
  text-align: left;
  margin-bottom:20px
}
.marked-inner-html ul li {
  list-style-type: none;
  padding-top: 5px;
  padding-left: 18px;
  margin-bottom: 6px;
  position: relative;
}
.marked-inner-html ul li:before {
  position: absolute;
  margin: 7px 0 0 -15px;
  height: 15px;
  background: url('./img/NPA-sprite.png') no-repeat 0px -750px;
  width: 17px;
  content: "";
  vertical-align: middle;
}

.list-inline {
  margin-left:0;
}
ul.list-inline.list-bordered {
  border-top: 1px solid #dae4e7;
  border-bottom: 1px solid #dae4e7;
  padding: 20px 0;
  margin-bottom: 40px;
}
.marked-inner-html img {
  margin: 30px 0;
}


.explore-section-table h1 {
  margin: 0 0 30px 0;
}
.table-note {
  color: #7696a5;
}
.strong {
  font-weight:bold;
}

.page-section.page-section-entities {
  margin-top: 0;
}

.nav-control {
  position: absolute;
  top: -21px;
  right: 15px;
}

.hrc-nav-carousel .btn,
.hrc-nav-carousel .btn:hover,
.hrc-nav-carousel .btn:focus,
.hrc-nav-carousel .btn:focus:hover,
.hrc-nav-carousel .btn:active,
.hrc-nav-carousel .btn:active:hover
{
  background:none;
}