
/*nav-primary.css ********************************************* */

nav.nav-primary {
  position: relative;
  background-color: #027DBB;
}
ul.nav-primary-list {
    margin-bottom: 0;
    margin-right: -12px;
    margin-left: -12px;
}

.nav-primary-list > li {
  border-right: 1px solid #026B9F;
}
.nav-primary-list > li:first-child {
  border-left: 1px solid #026B9F;
}

.nav-primary-list > li:last-child {
  position: absolute;
  top: 0;
  right: 0;
  border-right: none;
  border-left: 1px solid #026B9F;
}

.nav-primary-list a.btn:hover,
.nav-primary-list a.btn.active{
  background-color: #026B9F;
  color: #ffffff;
}

.nav-primary-list a.btn {  
  font-weight: normal;
  font-size: 12px;
  padding: 8px;
}
.nav-categories {
  margin-bottom: 32px;
}

@media (min-width: 768px) {
  .nav-primary-list a.btn {
    font-size: 14px;
    padding: 12px 12px;
    font-weight:bold;
  }
  .nav-primary-list li:last-child a.btn{
    padding: 12px 15px;
  }
  ul.nav-primary-list {
    margin-right: 0;
    margin-left: 0;
  }
}