
/*nav-categories*/
.nav-categories-container {
  width: 100%;
  background-color: #e7eef0
}

.nav-categories-row:before {
  display: block;
}

.nav-categories:before {
  display: block;
}

.nav-categories > .container {
  padding: 0;
}
.nav-categories > .container .row {
  margin: 0;
}
.nav-categories > .container .col-xs-1, 
.nav-categories > .container .col-xs-2, 
.nav-categories > .container .col-xs-3, 
.nav-categories > .container .col-xs-4, 
.nav-categories > .container .col-xs-5, 
.nav-categories > .container .col-xs-6, 
.nav-categories > .container .col-xs-7, 
.nav-categories > .container .col-xs-8, 
.nav-categories > .container .col-xs-9, 
.nav-categories > .container .col-xs-10, 
.nav-categories > .container .col-xs-11, 
.nav-categories > .container .col-xs-12 {
    padding-left: 0;
    padding-right: 0;
}

.nav-categories-list-wrapper {
  padding:0
}
@media (min-width: 768px) { 
  .nav-categories-list-wrapper {
    padding-right: 15px;
    padding-left: 15px;
  }  
}
.nav-categories {
  display: table;
  width: 100%;
  background-color: #e7eef0;
}
.nav-categories-label {
  padding-top: 20px;
  color: #7696a5;
}


.nav-categories-list {
  margin-bottom: 0px;
  font-size: 0    
}
.nav-categories-list.intro-ul {
  border-left:0
}

li.nav-categories-li {
  text-align: center;
  padding:0;
  border-left: 1px solid #fff;  
  position:relative;
  vertical-align: top;
}
li.nav-categories-li:last-child { 
  border-right: 1px solid #fff;
}

li.nav-categories-li a.btn {
  width: 100%;
  text-decoration: none;
  color: #3C5462;  
  display: block;
  background-color:transparent;
  padding: 2px 0 5px;
  overflow: hidden;
  vertical-align: top;
  min-height: 100px;
  white-space: normal;
}
@media (min-width: 768px) { 
  li.nav-categories-li a.btn {
    padding: 6px 0 20px;
  }
}
li.nav-categories-li.active a, 
li.nav-categories-li a:hover, 
li.nav-categories-li.active a:hover:focus, 
li.nav-categories-li a:hover:focus, 
li.nav-categories-li a:active, 
li.nav-categories-li.active a:focus,
li.nav-categories-li a:focus {
  background-color: #dae4e7;  
  color: #34444B;
}

li.nav-categories-li .title {
  padding-top: 10px;  
  font-weight: bold;
  font-size: 11px;
  width: 100%;
}
@media (min-width: 512px) { 
  li.nav-categories-li .title {  
    font-size: 12px;  
  }
}

@media (min-width: 768px) { 
  li.nav-categories-li .title {  
    font-size: 14px;  
  }
}
.nav-categories-li .arrow, 
.nav-categories-li .arrow:after {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}
.nav-categories-li.active .arrow {
  border-width: 11px;
}

.nav-categories-li.active .arrow {
  bottom: -11px;
  left: 50%;
  margin-left: -11px;
  border-top-color: #dae4e7;
  border-bottom-width: 0;
}
