
/*nav-primary.css ********************************************* */

nav.nav-primary {
  position: relative;
  background-color: #029BE5;
}
ul.nav-primary-list {
    margin-bottom: 0;
    margin-right: -12px;
    margin-left: -12px;
}

.nav-primary-list > li {
  border-right: 1px solid #0383C9;
}
.nav-primary-list > li:first-child {
  border-left: 1px solid #0383C9;
}

.nav-primary-list > li:last-child {
  position: absolute;
  top: 0;
  right: 0;
  border: none;
}

.nav-primary-list a.btn:hover,
.nav-primary-list a.btn.active{
  background-color: #0383C9;
  color: #ffffff;
}

.nav-primary-list a.btn {  
  font-weight: normal;
  font-size: 12px;
  padding: 8px 12px;
}
.nav-primary-list li:last-child a.btn{
  padding-right: 0;
}
.nav-categories {
  margin-bottom: 32px;
}

.nav-primary-list .icon-magnifier{
  margin: -3px 12px -2px;
  
}

.nav-primary:before {
  display: block;
}

@media (min-width: 768px) {
  .nav-primary-list a.btn {
    font-size: 14px;
    padding: 12px 12px;
    font-weight:bold;
  }
  .nav-primary-list a.btn{
  }
  .nav-primary-list li:last-child a.btn{
    border-right: none;
  }
  ul.nav-primary-list {
    margin-right: 0;
    margin-left: 0;
  }
}