/* SPRITE */
[class^="icon-"], [class*=" icon-"] {
  display: inline-block;
  vertical-align: middle;
}


/* icons */
.icon-barchart            { background: url('./img/NPA-sprite.png') no-repeat top left; background-position: 0px -900px; width: 30px; height: 21px; }
a:focus .icon-barchart,
a:hover .icon-barchart,
.icon-barchart:focus,
.icon-barchart:hover      { background: url('./img/NPA-sprite.png') no-repeat top left; background-position: 0px -900px }
.icon-linechart           { background: url('./img/NPA-sprite.png') no-repeat top left; background-position: 0px -950px; width: 30px; height: 21px; }
a:hover .icon-linechart,
a:focus .icon-linechart,
.icon-linechart:focus,
.icon-linechart:hover     { background: url('./img/NPA-sprite.png') no-repeat top left; background-position: 0px -950px; }

.icon-social-share        { background: url('./img/NPA-sprite.png') no-repeat top left; background-position: -100px -1100px; width: 20px; height: 20px;  margin-top: -5px; }


a:focus .icon-timeline,
.icon-timeline:focus,
a:hover .icon-timeline,
.icon-timeline:hover,
.icon-timeline            { background: url('./img/NPA-sprite.png') no-repeat top left; background-position: 0px -1200px; width: 76px; height: 40px; }

a.active .icon-timeline,
a:active .icon-timeline,
.icon-timeline.active,
.icon-timeline:active     { background: url('./img/NPA-sprite.png') no-repeat top left; background-position: -100px -1200px }

a:hover .icon-snapshot,
.icon-snapshot:hover,
.icon-snapshot            { background: url('./img/NPA-sprite.png') no-repeat top left; background-position: 0px -1250px; width: 76px; height: 40px; }
a.active .icon-snapshot,
a:active .icon-snapshot,
.icon-snapshot.active,
.icon-snapshot:active     { background: url('./img/NPA-sprite.png') no-repeat top left; background-position: -100px -1250px }

.icon-arrow-up-sm         { background: url('./img/NPA-sprite.png') no-repeat top left; background-position: 0px -1300px }
.icon-arrow-down-sm       { background: url('./img/NPA-sprite.png') no-repeat top left; background-position: -50px -1300px }
.icon-hrc-logo-claim      { background: url('./img/NPA-sprite.png') no-repeat top left; background-position: 0px -1350px; width: 200px; height: 115px; }
.icon-hrc-claim           { background: url('./img/NPA-sprite.png') no-repeat top left; background-position: 0px -1600px; width: 150px; height: 25px; }




@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
    only screen and (-o-min-device-pixel-ratio: 3/2),
    only screen and (min--moz-device-pixel-ratio: 1.5),
    only screen and (min-device-pixel-ratio: 1.5) {

  [class^="icon-"], [class*=" icon-"],
  .marked-inner-html.custom-list-icon ul li:before,
  .page-content-smart .marked-inner-html h3#specific:before,
  .page-content-smart .marked-inner-html h3#measurable:before,
  .page-content-smart .marked-inner-html h3#assignable:before,
  .page-content-smart .marked-inner-html h3#result-oriented:before,
  .page-content-smart .marked-inner-html h3#time-bound:before  {
    background-image: url('./img/NPA-sprite@2.png');
    background-size: 400px 2500px;
  }
}
